.container {
  height: 100vh; /* ارتفاع کامل صفحه */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* اسکرول کلی صفحه  حذف میشه */
  padding: 0.5rem 1rem;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto; /* فقط این بخش اسکرول بخوره */
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
