@import "tailwindcss";

* {
  overflow-x: hidden;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("../public/fonts/vazir-font-master/dist/Vazir-Light.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Vazirmatn", sans-serif;
  margin: auto;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  min-width: 320px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
