.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 460px;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #282828;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 10px;
  margin-bottom: 15px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #282828;
  overflow-y: hidden;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  outline: none;
  font-size: 14px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.9rem;
}

.buttons button {
  width: 185px;
  height: 42px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.addButton {
  background-color: #55a3f0;
  color: #ffffff;
}

.cancelButton {
  background-color: #dfdfdf;
  color: #282828cc;
}
